body{

background-image: rgb(241, 206, 160) ;
}
.container{
    background-color: thistle !important;
    border-style: solid;
    border: 2px solid #8f0d56 !important;
    border-radius: 40px !important;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 40px;
    max-width: 800px !important;
}

.navbar {
    background-color: rgb(241, 206, 160) !important;
    border: none;
    width: 100%;
    padding-bottom: 0px;
    padding-top: 0px;
    opacity: 0.3px;
  }
  button {
    display:block;
  }
  
#timer{
    float: right;
    padding-right: 30px; 
}
  .nav-titles:hover {
    font-size: large;
    font-family: "fantasy, Tangerine", sans-serif;
    /* text-align: center; */
    color: #660033 !important;
    border-bottom: 2px solid thistle;
    border-style: groove;
    background-color: #ffc107;
    border: 0px;
  }
  .nav-titles {
    color: thistle !important;
    border-right: 1px solid thistle;
    line-height: 5px;
  }
  .inputbtn:hover{
    background-color :#8f0d56 ;
    color: white !important;
  }
   #start-button:hover {
    background-color :#8f0d56 ;
    color: white !important;
}

#start-button {
    justify-content: space-around;
    margin-top: 100px;
    max-width: 300px;
    min-width: 150px;
    vertical-align: middle;
    text-align: center;
    
}

  .btn-outline-primary:hover {
    background-color: #8f0d56 !important;
    color: #ffc107;
}

hr {
  background-color: #660033;
}

button{
padding: 5px;
margin: 10px;
min-width: 200px;
text-align: left;
}

button:hover{
  border-color: #8f0d56 !important;
  background-color: #8f0d56;
  color: #fff !important;
}
.btn:hover {
    border-color: #8f0d56 !important;
    background-color: #8f0d56;
    color: #fff !important;
    
}
.sidebarBtn{
  border-color: #fff !important;
  border-radius: 40px;
  background-color: transparent;
  color: #ffc107 !important; 
}
.btn, #start-button, input, button {
  border-color: #8f0d56;
  border-radius: 10px;
  background-color: transparent;
  color: #076aff;
  font-weight: bolder;
}

.fa-facebook {
  color: #3b5998;
}

.fa-youtube {
  color: #bb0000;
}

.fa-google-plus {
  color: #dd4b39;
}

.fa-twitter {
  color: #00aced;
}

.fa-linkedin {
  color: #0077b5;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-google-plus:hover,
.fa-youtube:hover,
.fa-linkedin:hover {
  color: #d5d5d5;
}

.social {
  padding: 10px;
  font-size: 20px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
  padding-bottom: 10px;
  background-color: thistle;
  padding-top: 10px;
  font-size: 12px;
}